---
import { NavLinks } from "@/site.config";
import { Image } from "astro:assets"
import logo from '@/images/logo.png'
---
<header class="sticky p-2 sm:pt-4 w-full z-50 top-0">
    <div class="absolute left-0 top-0 -z-1 progress bg-gradient-to-br from-[#8dd3ff] via-[#a1d8ff] to-[#e0c3ff]] w-0 h-1"></div>
    <div class="header overflow-hidden mx-auto w-full md:w-10/12 2xl:w-9/12 pr-4 my-4 max-h-16 sm:max-h-18 rounded-5xl box-border backdrop-blur-md  open:max-h-96 open:rounded-2xl transition-[max-height,border-radius] duration-400 ease-in-out flex items-center flex-col justify-between  bg-white/20 ring-1  ring-[#e5e7eb] dark:bg-primary-dark/70 dark:shadow-none dark:ring-[#3f3f46]">
        <!--正常菜单-->
        <div class="flex items-center justify-between h-full w-full">
            <!--左侧 logo-->
            <div class="flex items-center justify-center sm:w-18 sm:h-18 w-16 h-16 p-0 cursor-pointer relative">
                <a href="/" class="h-fit">
                    <Image src={logo} alt="Avatar" class="rounded-full w-14 h-14" loading="eager"/>
                </a>
                <span class="absolute top-2.5 sm:top-3.5 right-1.5 block w-2.5 h-2.5 bg-green-500 rounded-full ring-2 ring-white"></span>

                <!--汉堡菜单展开按钮-->
                <button type="button" colspan-toggle class="absolute -right-8 size-6 sm:hidden cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="open:hidden h-6 w-6 text-primary-text-light dark:text-white" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.7"
                              d="M4 6h16M4 12h16M4 18h7"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="hidden open:block h-6 w-6 text-primary-text-light dark:text-white" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.7"
                              d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <!--居中标题-->
            <!--<p class="sm:hidden dark:text-white font-black text-gray-700">-->
            <!--     <span>Chris Notes</span>-->
            <!-- </p>-->

            <!--右侧导航栏区域-->
            <nav class="flex items-center space-x-6 font-medium">
                <!--navigation-->
                <div class="items-center space-x-6 hidden md:flex text-primary-text-light dark:text-primary-text-dark">
                    {NavLinks.map((item) => (<a href={item.link}
                                                class="hover:text-accent-light dark:hover:text-accent-dark font-bold">{item.name}</a>))}
                </div>

                <div class="flex items-center space-x-6 font-medium">
                    <label class="hidden">
                        <input class="inline-block outline-0 ring-0 ring-gray-50 dark:ring-[#3f3f46] h-12 rounded-full px-2 dark:text-white"
                               value="111" placeholder="Search..."/>
                    </label>
                    <!--全局搜索博客-->
                    <button class="text-primary-text-light dark:text-primary-text-dark cursor-pointer font-medium">
                        <!--Magnifier / Search Icon-->
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                             aria-hidden="true" focusable="false">
                            <!-- 圆形镜片 -->
                            <circle cx="11" cy="11" r="7"/>
                            <!-- 手柄 -->
                            <line x1="16.65" y1="16.65" x2="21" y2="21"/>
                        </svg>
                    </button>

                    <!--暗黑模式切换-->
                    <button type="button"
                            class="mx-0 rounded-full size-8 inline-flex cursor-pointer justify-center items-center text-primary-text-light focus:outline-hidden text-xs md:text-sm dark:border-neutral-700 dark:text-white">
                        <!--light-->
                        <svg theme-toggle
                             class="hidden dark:block hover:rotate-360 rotate-0 transition-all duration-500 shrink-0 size-6"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.6"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <circle cx="12" cy="12" r="4"></circle>
                            <path d="M12 2v2"></path>
                            <path d="M12 20v2"></path>
                            <path d="m4.93 4.93 1.41 1.41"></path>
                            <path d="m17.66 17.66 1.41 1.41"></path>
                            <path d="M2 12h2"></path>
                            <path d="M20 12h2"></path>
                            <path d="m6.34 17.66-1.41 1.41"></path>
                            <path d="m19.07 4.93-1.41 1.41"></path>
                        </svg>
                        <!--dark-->
                        <svg theme-toggle
                             class="dark:hidden hover:rotate-y-180 transition-all duration-500 shrink-0 size-6"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.6"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
                        </svg>
                    </button>
                    <!--github-->
                    <!--<button type="button" class="ml-2 mr-1 rounded-full size-8 inline-flex cursor-pointer justify-center items-center text-primary-text-light focus:outline-hidden text-xs md:text-sm dark:border-neutral-700 dark:text-white">-->
                    <!--    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github" class="svg-inline&#45;&#45;fa fa-github " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>-->
                    <!--</button>-->
                </div>
            </nav>
        </div>
        <!--汉堡菜单-->
        <div class="colspan mb-3 flex items-center cursor-pointer flex-col sm:hidden w-full">
            {NavLinks.map((item) => (
                    <div class=" items-center py-2 px-4 w-full text-slate-700 dark:text-gray-200 font-bold">
                        <a href={item.link} class="hover:text-violet-500">{item.name}</a>
                    </div>
            ))}
        </div>
    </div>
</header>

<script is:inline>
    document.querySelectorAll("[theme-toggle]").forEach(toggle =>
        toggle.addEventListener("click", () => {
            const toggleTheme = () => document.documentElement.classList.toggle("dark");
            if ("startViewTransition" in document) {
                document.startViewTransition(toggleTheme);
            } else {
                toggleTheme();
            }
        })
    );

    document.querySelectorAll("[colspan-toggle], section").forEach(t => t?.addEventListener("click", () => {
        console.log("colspan-toggle");
        document.querySelector(".header")?.classList.toggle("open");
    }));

</script>
